body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --initial1: 0;
  --initial2: 1;
}

@keyframes a0 {
  from {
    transform: rotate(calc(var(--initial1) * 90deg));
  }
  to {
    transform: rotate(calc(var(--initial2) * 90deg));
  }
}
